<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MSTracker - Rastreamento dos Correios</title>
  <!-- Adicione o link para o CDN do Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./assets/js/jquery.js">

</head>
<body class="bg-gray-100">
  <!-- Barra de navegação -->
  <nav class="bg-blue-500 text-white py-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-3xl font-bold cursor-pointer">MSTracker</div>
    </div>
  </nav>

  <div class="container mx-auto mt-8">
    <!-- Área principal -->
    <main class="w-full lg:w-3/4 bg-white rounded-lg shadow-md p-6 mx-auto">
      <!-- Campo de inserção do código de rastreio -->
      <form id="trackingForm" class="mb-4 flex items-center">
        <input type="text" id="trackingCode" name="trackingCode" placeholder="Insira o código de rastreio" class="border rounded-md px-3 py-2 w-full focus:outline-none focus:border-blue-500" required>
        <button type="submit" class="ml-2 custom-button bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:bg-blue-600 transition duration-300">Buscar</button>
        <a href="cadastro.html" class="ml-2 custom-button bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:bg-blue-600 transition duration-300">Cadastrar Objeto</a>
      </form>

      <!-- Área para exibir as informações de rastreamento -->
      <div id="trackingInfo" class="hidden">
        <!-- Aqui serão inseridas as informações de rastreamento -->
        <h2 class="text-lg font-semibold mb-2">Informações de Rastreamento:</h2>
        <div id="report" class="border p-4 rounded-md">
          <!-- As informações de rastreamento serão inseridas aqui -->
        </div>
      </div>
    </main>
  </div>

  <script src="../assets/js/enviosNovo.js"></script>
</body>
</html>
